[init]
	defaultBranch = main
[user]
	email = speedyturkey@gmail.com
	name = Billy McMonagle
[core]
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	ff = only
	rebase = true
[rebase]
	autoStash = true
